flask-swagger 
flask-swagger-ui
flask-socketio
eventlet
pypickle
jsonpickle==3.2.1
click==8.1.7
Flask==3.1.0
Flask-Cors==5.0.0
joblib==1.4.2
keras==2.13.1
matplotlib==3.10.0
numpy==1.24.3
pandas==2.2.3
pillow==11.0.0
pip==22.3
pymongo==4.10.1
pytz==2024.2
PyWavelets==1.8.0
requests==2.32.3
scikit-learn==1.6.0
scipy==1.14.1
tensorflow==2.13.0
twilio==9.4.1
wfdb==4.1.2
